mat-list-item.active {
    background-color: #f3f6f7 !important;
    color: black !important;
}

.sidebar {
    // background: linear-gradient(0deg, #545c32, #cfa938);
    background-color: #3b9fd4;
    //  background: linear-gradient(180deg, #6a89ab, #7070ce);

    height: 100%;
    margin: 0% !important;
    padding: 0% !important;

}

mat-list mat-list-item {
    color: white;
    // border-radius: 10px 0 0 10px;
    cursor: pointer;
    border: 0.5px solid white;
}



mat-list {
    padding-top: 0%;
}
