

.app-container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 0 !important;
    height: 100%;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar.open {
    width: 20% !important;
    margin-right: 1%;
    overflow-y: auto;

}

.element-with-shadow {
    /* Apply Bootstrap shadow utility class */
    box-shadow: var(--bs-shadow-lg);

    box-shadow: none;

    box-shadow: 10px 0 15px -3px rgba(0, 0, 0, 0.1);

}


.content {
    flex-grow: 1;
    width: 80%;
    margin-top: 7%;
    margin-left: 2%;
    margin-right: 2%;
    // overflow-y: auto;
}