<div mat-dialog-title>
  <h2>Employee Form</h2>
</div>

<div mat-dialog-content>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Employee Id</mat-label>
        <input type="number" matInput formControlName="employeeId" placeholder="1030900">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName" placeholder="John">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName" placeholder="Doe">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="User@infinite.com">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Phone</mat-label>
        <input type="number" matInput formControlName="phone">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Designation</mat-label>
        <input type="text" matInput formControlName="designation" placeholder="Software Engineer">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Location</mat-label>
        <input type="text" matInput formControlName="location">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Experience</mat-label>
        <input type="number" matInput formControlName="experience" placeholder="4">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Status</mat-label>
        <input type="text" matInput formControlName="status" placeholder="Ready to move">
      </mat-form-field>
    </div>
    <div class="row">
      <h3>Skills</h3>
      <div formArrayName="skills">
        <div *ngFor="let skill of skills.controls; let i = index" class="skill-row">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Skill</mat-label>
            <input type="text" matInput [formControlName]="i">
          </mat-form-field>
          <button mat-icon-button type="button" (click)="removeSkill(i)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>
      <button mat-icon-button type="button" (click)="addSkill()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <div class="row">
      <h3>Certifications</h3>
      <div formArrayName="skills">
        <div *ngFor="let cert of certifications.controls; let i = index" class="skill-row">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Certification</mat-label>
            <input type="text" matInput [formControlName]="i">
          </mat-form-field>
          <button mat-icon-button type="button" (click)="removeCertification(i)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>
      <button mat-icon-button type="button" (click)="addCertification()">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
    <div mat-dialog-actions class="actionButtons">
      <button mat-raised-button type="button" class="me-2">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
  </form>
</div>
